{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'hospitallogin/fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'hospitallogin/css/style.css'%}">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form">{% csrf_token %}
                    <h2>Log In </h2>
                    <p class="desc"> <span></span></p>
                    <div class="form-group">
                        <input type="text" class="form-input" name="Email"  placeholder="Email"/>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-input" name="password"  placeholder="Password"/>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit submit" value="Log in"/>


                        <div><label>if you don't have an account <a href="{% url 'hosp_reg' %}"> Create an account</a>  </label> </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'hospitallogin/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'hospitallogin/js/main.js'%}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>